/.venv/
/.clinerules/
/.cline/
/client/
/src/ml_module/data/results/yolov8l/train/weights/epoch0.pt
/src/ml_module/data/results/yolov8l/train/weights/epoch10.pt
/src/ml_module/data/results/yolov8l/train/weights/epoch20.pt
/src/ml_module/data/results/yolov8l/train/weights/epoch30.pt
/src/ml_module/data/results/yolov8l/train/weights/epoch40.pt
/src/ml_module/data/results/yolov8l/train/weights/last.pt
/src/ml_module/data/results/yolov8m/train/weights/epoch0.pt
/src/ml_module/data/results/yolov8m/train/weights/epoch10.pt
/src/ml_module/data/results/yolov8m/train/weights/epoch20.pt
/src/ml_module/data/results/yolov8m/train/weights/epoch30.pt
/src/ml_module/data/results/yolov8m/train/weights/epoch40.pt
/src/ml_module/data/results/yolov8m/train/weights/last.pt
/src/ml_module/data/results/yolov8n/train/weights/epoch0.pt
/src/ml_module/data/results/yolov8n/train/weights/epoch10.pt
/src/ml_module/data/results/yolov8n/train/weights/epoch20.pt
/src/ml_module/data/results/yolov8n/train/weights/epoch30.pt
/src/ml_module/data/results/yolov8n/train/weights/epoch40.pt
/src/ml_module/data/results/yolov8n/train/weights/last.pt
